$white-color: #ffffff;
$primary-color: #323232;
$revolution-color: #635c73;
$here-is: #8d81ac;
$secondary-color: #848e97;
$font-size-large: 48px;
$font-size-md: 16px;
$font-size-sm: 14px;

$backGroundColor: #FFFFFF;


$bgcHereIsWhatYouGet: #F4F4F4;


$minWidth: 320;
// $maxWidth: 1380;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 10;
$md2: 993;
$md3: 481;
$md4: 1250;
$md5: 560;
$md6: 1150;
$md7: 1100;
$md8: 650;
$md9: 350;
$md10: 388;
$md11: 420;
